[mysqld]
# 设置字符集
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 设置最大连接数
max_connections = 200

# 日志配置
log-error = /var/log/mysql/error.log
general_log = 1
general_log_file = /var/log/mysql/general.log